<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="d-flex flex-grow-1">
      <span class="w-100 d-lg-none d-block"></span>
      <a class="navbar-brand d-none d-lg-inline-block" href="#">
          Oriental House
      </a>
      <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="#">
          <img class="oh-logo" src="../../assets/pics/mushroomUdon.jpg" alt="logo">
      </a>
      <div class="w-100 text-right">
          <button class="navbar-toggler" (click)="isCollapsed = !isCollapsed" type="button" data-toggle="collapse" data-target="#myNavbar">
              <span class="navbar-toggler-icon"></span>
          </button>
      </div>
  </div>
  <div class="collapse navbar-collapse flex-grow-1 text-right" [ngbCollapse]="isCollapsed" id="myNavbar">
      <ul class="navbar-nav ml-auto flex-nowrap">
          <li class="nav-item">
              <a href="#" class="nav-link m-2 menu-item nav-active">Home</a>
          </li>
          <li class="nav-item">
              <a href="#" class="nav-link m-2 menu-item">Menu</a>
          </li>
          <li class="nav-item">
              <a href="#" class="nav-link m-2 menu-item">About Us</a>
          </li>
          <li class="nav-item">
              <a href="#" class="nav-link m-2 menu-item">Contact</a>
          </li>
      </ul>
  </div>
</nav>
