.foodImages {
  display: block;
  width: 400px;
  height: 300px;
  border-radius: 100px;
}

.itemName{
  display: block;
  font-size: 1.2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  border-bottom: 2px solid #d1d1d1;
}

.price {
  display: block;
  font-size: 1.1em;
  margin-left: 0;
  margin-right: 10px;
  font-weight: bold;
}

.row:hover {
  text-shadow: 1px 1px 2px #427388; 
  background-color: #bbc2bb;
}

.info{
  padding-left: 20px;
}

.description {
  font-size: 1em;
}

.item-sub-title {
  color: #ff8c00
}

.item-container {
  border-radius: 30px;
}
