<div class="row item-container">
  
  <div *ngIf="imgFound">
    <div class="col-sm">
      <img class="foodImages" [src]="menuItem.imagePath">
    </div>
  </div>

  <div class="col-lg">
    <div class="itemName">
      {{ menuItem.title }} 
      <span *ngIf="menuItem.subTitle" class="item-sub-title"> - {{ menuItem.subTitle }}</span>
    </div>
    
    <p class="description">
      {{ menuItem.description }}
    </p>
    <span *ngIf="!multiPrice" class="price float-right">${{ menuItem.price }}</span>
    <span *ngIf="multiPrice" class="price float-right">LG ${{ menuItem.priceLG }} </span>
    <span *ngIf="multiPrice" class="price float-right">SM ${{ menuItem.priceSM }} </span>
  </div>

</div>
