
.foodImages {
  display: block;
  width: 400px;
  height: 300px;
  border-radius: 100px;
}

.itemName{
  display: block;
    font-size: 3em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.row:hover {
  text-shadow: 1px 1px 2px #427388; 
  background-color: #aab1aa;
}

.info{
  padding-left: 20px;
}

.description{
  font-size: 24px;
}


@media only screen and (max-width: 1000px) {
  #wrapper{
      width: auto;
      margin-right: auto;
      margin-left: auto;
  }

  .foodImages{
      width: auto;
  }
}
