.header {
  display: block;
  font-size: 3em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-align: center;
  border-bottom: 3px solid red;
}

.contact {
  text-align: center;
}
