@import '~bootstrap/dist/css/bootstrap.min.css';

// .background {
//   background-image: url(./assets/pics/blue-japanese-waves.png);
// }

.footer {
  background-color: black;
  color: white;
  margin-top: 25px;
}

.map {
  text-align: center;
}
